.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 80%;
    max-width: 500px;
    margin: 40px;
    gap: 20px;
    z-index: 500;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
} 