.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 10px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  padding: 0 20px;
}